---
http_interactions:
- request:
    method: get
    uri: https://planningexchange.coffsharbour.nsw.gov.au/PortalProd/Pages/XC.Track/SearchApplication.aspx?d=thisweek&k=LodgementDate&o=rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<rss version=\"2.0\">\r\n  <channel>\r\n    <title />\r\n    <link
        />\r\n    <description />\r\n    <language>en-us</language>\r\n    <Copyright>ICON
        Software Solutions</Copyright>\r\n    <pubDate />\r\n    <lastBuildDate />\r\n
        \   <docs>/</docs>\r\n    <generator>ICON Track</generator>\r\n    <managingEditor>ICON
        Track</managingEditor>\r\n    <webMaster>ICON Track</webMaster>\r\n    <ttl>60</ttl>\r\n
        \   <image>\r\n      <title />\r\n      <url />\r\n      <link />\r\n    </image>\r\n
        \   <item>\r\n      <title>0889/19DA  - Dwelling-New</title>\r\n      <category>Dwelling-New</category>\r\n
        \     <link>/Pages/XC.Track/SearchApplication.aspx?id=259217</link>\r\n      <description>76
        MIMIWALI DRIVE BONVILLE NSW 2450 . Dwelling-New</description>\r\n      <author
        />\r\n      <pubDate>2019-06-03T10:04:47.127+10:00</pubDate>\r\n      <guid>/Pages/XC.Track/SearchApplication.aspx?id=259217</guid>\r\n
        \   </item>\r\n    <item>\r\n      <title>0890/19DA  - Change of Land Use
        D/A</title>\r\n      <category>Change of Land Use D/A</category>\r\n      <link>/Pages/XC.Track/SearchApplication.aspx?id=259222</link>\r\n
        \     <description>126 DIAMOND HEAD DRIVE SANDY BEACH NSW 2456 . Change of
        Land Use D/A - Conversion of Garage to Bedroom</description>\r\n      <author
        />\r\n      <pubDate>2019-06-03T10:25:15.813+10:00</pubDate>\r\n      <guid>/Pages/XC.Track/SearchApplication.aspx?id=259222</guid>\r\n
        \   </item>\r\n    <item>\r\n      <title>0891/19DA  - Miscellaneous Projects</title>\r\n
        \     <category>Miscellaneous Projects</category>\r\n      <link>/Pages/XC.Track/SearchApplication.aspx?id=259270</link>\r\n
        \     <description> BRUXNER PARK ROAD KORORA NSW 2450 . Miscellaneous Projects
        - Agricultural Poles and Netting</description>\r\n      <author />\r\n      <pubDate>2019-06-03T14:30:34+10:00</pubDate>\r\n
        \     <guid>/Pages/XC.Track/SearchApplication.aspx?id=259270</guid>\r\n    </item>\r\n
        \   <item>\r\n      <title>0892/19DA  - Demolition of Building</title>\r\n
        \     <category>Demolition of Building</category>\r\n      <link>/Pages/XC.Track/SearchApplication.aspx?id=259278</link>\r\n
        \     <description>37 SCHAFER STREET RED ROCK NSW 2456 . Demolition of Building</description>\r\n
        \     <author [...]
