---
http_interactions:
- request:
    method: get
    uri: https://planningexchange.coffsharbour.nsw.gov.au/PortalProd/Pages/XC.Track/SearchApplication.aspx?d=thisweek&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>259270</ApplicationId>\r\n
        \   <ApplicationType>Joint Development Building</ApplicationType>\r\n    <NatureOfApplicationType>863</NatureOfApplicationType>\r\n
        \   <NatureOfApplication>Miscellaneous Projects</NatureOfApplication>\r\n
        \   <ReferenceNumber>0891/19DA</ReferenceNumber>\r\n    <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>891</ReferenceNumberNumber>\r\n    <EstimatedCost>10000.000000</EstimatedCost>\r\n
        \   <Decision>In Progress</Decision>\r\n    <StatusText>In Progress</StatusText>\r\n
        \   <Status>INPROGRESS</Status>\r\n    <Current>C</Current>\r\n    <LodgementDate>2019-06-03T14:30:34+10:00</LodgementDate>\r\n
        \   <DeterminationType>In Progress</DeterminationType>\r\n    <AuthorityParty>Delegated
        Authority</AuthorityParty>\r\n    <ApplicationDetails>Miscellaneous Projects
        - Agricultural Poles and Netting</ApplicationDetails>\r\n    <OfficerId>TBA</OfficerId>\r\n
        \   <Officer> TO BE ADVISED</Officer>\r\n    <Contact />\r\n    <Group />\r\n
        \   <DADays>4</DADays>\r\n    <ApplicationIdS>259270</ApplicationIdS>\r\n
        \   <Determination>\r\n      <ApplicationId>259270</ApplicationId>\r\n      <DeterminationType>In
        Progress</DeterminationType>\r\n      <AuthorityParty>Delegated Authority</AuthorityParty>\r\n
        \     <ApplicationIdS>259270</ApplicationIdS>\r\n    </Determination>\r\n
        \   <Address>\r\n      <PropertyId>1535400</PropertyId>\r\n      <ApplicationId>259270</ApplicationId>\r\n
        \     <AssessmentId>1709368</AssessmentId>\r\n      <ParcelId>148810</ParcelId>\r\n
        \     <Status>C</Status>\r\n      <StreetName>BRUXNER PARK ROAD</StreetName>\r\n
        \     <StreetType />\r\n      <LocalityName>KORORA</LocalityName>\r\n      <Postcode>2450</Postcode>\r\n
        \     <CountryName>Australia</CountryName>\r\n      <StateTerritory>NSW</StateTerritory>\r\n
        \     <Ward>KO</Ward>\r\n      <Line1> BRUXNER PARK ROAD</Line1>\r\n      <Line2>KORORA
        NSW 2450</Line2>\r\n      <FullLegalDescription>LOT 2 DP 778574 &amp; SUBJ
        TO WTR E</FullLegalDescription>\r\n      <Area>4.000000</Area>\r\n      <AreaUnits>H</AreaUnits>\r\n
        \     <ApplicationIdS>259270</ApplicationIdS>\r\n    </Address>\r\n    <Address>\r\n
        \     <PropertyId>1536900</PropertyId>\r\n      <ApplicationId>259270</ApplicationId>\r\n
        \     <AssessmentId>05514007557</AssessmentId>\r\n      <ParcelId>148960</ParcelId>\r\n
        \     <Status>C</Status>\r\n      <StreetNumber1>218</StreetNumber1>\r\n      <StreetName>BRUXNER
        PARK ROAD</StreetName>\r\n      <StreetType />\r\n      <LocalityName>KORORA</LocalityName>\r\n
        \     <Postcode>2450</Postcode>\r\n      <CountryName>Australia</CountryName>\r\n
        \     <StateTerritory>NSW</StateTerritory>\r\n      <Ward>KO</Ward>\r\n      <Line1>218
        BRUXNER PARK ROAD</Line1>\r\n      <Line2>KORORA NSW 2450</Line2>\r\n      <FullLegalDescription>LOT
        364 DP 44800  SUBJ TO EASEMENTS CP 83/21</FullLegalDescription>\r\n      <Area>6.028000</Area>\r\n
        \     <AreaUnits>H</AreaUnits>\r\n      <ApplicationIdS>259270</ApplicationIdS>\r\n
        \   </Address>\r\n    <Party>\r\n      <ApplicationId>259270</ApplicationId>\r\n
        \     <PartyId>44712</PartyId>\r\n      <PersonId>44712</PersonId>\r\n      <PropertyId>259270</PropertyId>\r\n
        \     <FamilyName>RESOURCE DESIGN &amp; MANAGEMENT PTY LTD</FamilyName>\r\n
        \     <PartyRole>Applicant</PartyRole>\r\n      <FullName>RESOURCE DESIGN
        &amp; MANAGEMENT PTY LTD</FullName>\r\n      <EmailAddress>rdm@resdesman.com.au</EmailAddress>\r\n
        \     <TelephoneNumber>6651 2688</TelephoneNumber>\r\n      <Private>N</Private>\r\n
        \     <ApplicationIdS>259270</ApplicationIdS>\r\n    </Party>\r\n    <Party>\r\n
        \     <ApplicationId>259270</ApplicationId>\r\n      <PartyId>20675</PartyId>\r\n
        \     <PersonId>20675</PersonId>\r\n      <PropertyId>259270</PropertyId>\r\n
        \     <FamilyName>SINGH</FamilyName>\r\n      <GivenName>BALBIR (KAUR)</GivenName>\r\n
        \     <Gender>F</Gender>\r\n      <Title>MRS</Title>\r\n      <PartyRole>Owner</PartyRole>\r\n
        \     <FullName>MRS BALBIR (KAUR) SINGH</FullName>\r\n      <Private>N</Private>\r\n
        \     <ApplicationIdS>259270</ApplicationIdS>\r\n    </Party>\r\n    <Party>\r\n
        \     <ApplicationId>259270</ApplicationId>\r\n      <PartyId>18449</PartyId>\r\n
        \     <PersonId>18449</PersonId>\r\n      <PropertyId>259270</PropertyId>\r\n
        \     <FamilyName>SINGH</FamilyName>\r\n      <GivenName>NARINDER</GivenName>\r\n
        \     <Gender>M</Gender>\r\n      <Title>MR</Title>\r\n      <PartyRole>Owner</PartyRole>\r\n
        \     <FullName>MR NARINDER SINGH</FullName>\r\n      <EmailAddress>mungi_05@hotmail.com</EmailAddress>\r\n
        \     <MobileNumber>0421 288 800</MobileNumber>\r\n      <Private>N</Private>\r\n
        \     <ApplicationIdS>259270</ApplicationIdS>\r\n    </Party>\r\n  <NewDataSet
        /><NewDataSet /></Application>\r\n  <Application>\r\n    <ApplicationId>259278</ApplicationId>\r\n
        \   <ApplicationType>Joint Development Building</ApplicationType>\r\n    <NatureOfApplicationType>814</NatureOfApplicationType>\r\n
        \   <NatureOfApplication>Demolition of Building</NatureOfApplication>\r\n
        \   <Reference[...]
